form.example input[type=text] {
    padding: 10px;
    width:30vw;
    font-size: 17px;
    
    border: 1px solid grey;
    background: #f1f1f1;
}
  
form.example button {
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
form.example button:hover {
    background: #0b7dda;
}
  
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.searchbar {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload {
    margin: 10px;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.upload:hover {
    background-color: black;
    color: white;
  }
.upload:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
h4 {
    margin: 30px;
}

.slider {
    margin-bottom: 5vh;
}
