.vl {
    border-right: 2px solid black;
    width: 350px;
    height: 648px;
    display: block;
    color: #555;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid black;
}
