.scrolling-wrapper {
    margin-right: 8vh;
    margin-left: 8vh;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }
.arrow_back{
    transform: translateY(5vh);
}
.arrow_forward {
    transform: translateY(-5vh);
    float: right;
}

  @media only screen and (max-width: 600px) {
    .arrow_back{
        width: 70vh;
        display: none;
    }
    .arrow_forward{
      display: none;
    }
  }
