<div class="container-slider">
    <span class="title">Recommended</span>
    
    <div class="arrow_back"><i class="fas fa-chevron-left fa-3x"></i></div>
    <div class="scrolling-wrapper">
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
        <div class="card"><h2>Card</h2></div>
    </div>
    <div class="arrow_forward"><i class="fas fa-chevron-right fa-3x"></i></div>
</div>
