
.position {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center; // Centers the item
  align-items: center;
  bottom: 10px; // Moves it up a little from the bottom
  
}
  
button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.time{
  margin-left: 1vw;
  
}
.slider{
  margin-left: 1vw;
  width: 50vw;
}

.song-name{
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
  .artist{
    font-size: 15px;
    margin-bottom: -3px;
  }
  .song{
    font-size: 10px;
  }
}
