
.position {
  position: absolute;
  bottom: 2vh;
}
  
button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}
.time{
  margin-left: 1vw;
}
.slider{
  width: 70vw;
  margin-left: 1vw;
}
.song-name{
  width: 1vw;
}