.footer {
  background-color: black;
  position: relative;
    // left: 0;
    // bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  //flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;
  margin-bottom: 0px;
}
.copyright{
    color: white;
}
