.header {
    background: url('https://i.pinimg.com/originals/73/29/a1/7329a10425badb721b7a1feb6de0289f.jpg');
    background-size: 800px 400px;
    height: 40vh;
    .menu {
        padding: 1vh;
        display: flex;
        flex-direction: row;
        padding-right: 2vw;
    }
    h4 {
        margin: 0;
        font-size: 20px;
        padding: 1vw;
        color: white;
    }
    h1{
        color:white;
    }
    .buttons {
        margin-left: auto;
    }
    .sign_up{
        display: flex;
        padding: 5vh;
        flex-direction: column;
        align-items: center;
    }
}
.button {
    margin: 10px;
    background-color:black;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.button:hover {
    background-color: black;
    color: white;
  }
.button:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}