<nav class="topnav">
  <img class="logo-img" title="logo" src="https://i.imgur.com/jPlLVs7.png">
    <ul>
      <li><a href="#"><i class="fa fa-fw fa-home"></i> Home</a></li>
      <li><a href="#"><i class="fas fa-stream"></i> Stream</a></li>
      <li><a href="#"><i class="fas fa-book-open"></i> Library</a></li>
      <li class="search-container">
          <form action="/action_page.php">
              <input class="search__input" type="text" placeholder="Search">
          </form>
      </li>
      <li><a href="#"><i class="fa fa-fw fa-user"></i> User</a></li>
      <li><a href="#"><i class="fas fa-upload"></i> Upload</a></li>
    </ul>
</nav>