<div class="topnav">
    <img class="logo-img" title="logo" src="https://i.imgur.com/jPlLVs7.png">
    <a class="active"><i class="fa fa-fw fa-home"></i> Home</a>
    <a><i class="fas fa-stream"></i> Stream</a>
    <a><i class="fas fa-book-open"></i> Library</a>
      <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <b href="#"><i class="fa fa-fw fa-user"></i> User</b>  
    <b href="#"><i class="fas fa-upload"></i> Upload</b>  
  </div>