<div class="pop-up">
  <ng-template #content let-modal>
  
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
            <p>Please fill in this form to create an account.</p>
            <hr>
        
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');" routerLink = "page2">Register</button>
    </div>
  </ng-template>
</div>
  <button class="button" (click)="open(content)">Sign up for free</button>
  
  <!-- <pre>{{ closeResult }}</pre> -->