
.modal-body {
  height: 300px;
  background-image: url("/assets/images/user_profile_background.png");
}

a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
a,
a:after,
a:before {
    transition: all .5s;
  }
a:hover {
    color: #555;
    cursor: pointer;
  }
.image {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 50px;
  background-color:#fff;
  border:2px solid #fff;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.modal-footer {
height: 100px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.label {
  text-align: center;
  .it1 {
    color: #555;
  }
  .it2 {
    font-size: 20px;
  }
}