<div class="pop-up">
  <ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hello, {{username}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">

      <img src="/assets/images/user_image.png" alt="" class="image">

    </div>
    <div class="modal-footer">

      <div class="label">
        <h6 class="it1">Followers:</h6>
        <h6 class="it2">{{followers}}</h6>
      </div>

      <div class="label">
        <h6 class="it1">Following:</h6>
        <h6 class="it2">{{following}}</h6>
      </div>

      <div class="label">
        <h6 class="it1">Liked Tracks:</h6>
        <h6 class="it2">{{likedTracks}}</h6>
      </div>
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');" routerLink = "music-page">Register</button> -->
    </div>
  </ng-template>
</div>

<!-- The button visible on the page -->

<a class="button" (click)="open(content)"><i class="fa fa-fw fa-user"></i>User</a>

<!-- <pre>{{ closeResult }}</pre> -->