a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
a,
a:after,
a:before {
    transition: all .5s;
  }
a:hover {
    color: #555;
    cursor: pointer;
  }
  